@use '../custom';

.header{
  padding-top: 3rem ;
  padding-bottom: 3rem ;
  @include custom.media-breakpoint-up(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;

  }

  span{
    font-family: "pacifico";
    font-size: 4rem;
    width: 10rem;
  }

}

span{
  font-family: "pacifico";
  font-size: 2.6rem;
  width: 10rem;
}